<div class="hero__slide__container {{isDarkTheme}}">
    
    <div class="hero__img">
    {{{asset image}}}
    <div class="hero__img--opacity">
    </div>
    </div>
    
    <div class="info">
        <h1 class="hero__title">{{title}}</h1>
        <p class="hero__description">{{description}}</p>
        {{{module link}}}
    </div>
</div>