<<<<<<< HEAD
<a href="{{link}}.html" class="link link--{{type}}">
=======
<a href="{{link}}.html" class="link link--{{type}} p">
>>>>>>> 9256e7e33e5c3618fe93e3425c2bc7147d28c83e
  {{linkText}}
  {{#if withArrow}}
  <i class="link__icon fas fa-chevron-right"></i>
  {{/if}}
</a>
